@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    font-family: var(--fonte1);
    text-align: center;
    color: #ffffff;
    background-color: #000;
}
header h1{
    font: 10vw var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
}

section{
    font: 3.5vw var(--fonte3);
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
}
section.normal{
    color: #000;
    background-color: #ffffff;
}
section.imagem{
    color: #ffffff;
    background-color: #ffffff(68, 68, 68);
}
section.imagem > p{
    display: inline-block;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.199);
}


footer{
    padding: 10px;
    font: 1em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #000;
}